$primaryTextColor: #FFFFFF;
$firstButtonColor: #543BEE;
$secondButtonColor: #943BEE;
$shadowButtonColor: #7759FF;
$backgroundIconColor: #242424;
$footerButtonColor: #171717;
$mainFont: 'Montserrat', sans-serif;
