<section class="hero">
    <div class="container">
        <div class="hero__box"><img class="hero__img" src="./images/antivirus_dinamic_cybersec 1.png" alt="Antivirus"></div>
        <div class="hero__container">
            <h1 class="hero__title"></h1>
            <p class="hero__text"></p>
            <div class="hero__btn-box">
                <button class="main-btn">Купить</button>
                <button class="support-btn">Написать саппорту в Telegram</button>
            </div>
            
        </div>
        
    </div>

</section>